In [10]:
import plotly.plotly as py
import plotly.graph_objs as go
import plotly.figure_factory as FF
import pandas as pd
import sqlalchemy
from pandas.io.json import json_normalize
from db_emploi_store.db_get_and_insert import get_data

In [11]:
SEARCH_KEYWORD = "Développeur Python"
DB_CONFIG = {
    'host': 'localhost',
    'port': 8889,
    'user': 'phpmyadmin',
    'passwd': 'max',
    'db': 'emploi_store',
}
CLIENT_SECRET = "ea2d066069be79cec2299c0b1081063c7a070b531d36ec6fd\
7144b74f6ddd5ae" # Your API Secret Here
CLIENT_ID = "PAR_idedataskills_ff9af1db81dd556671117874e2785cfb774\
4be3b25148a472f2d29a5b00b4126" # Your API ID Here
py.plotly.tools.set_credentials_file(username='BucKz', api_key='gExyFNrxhBCCZBeN9asW')

In [12]:
try:
    engine = sqlalchemy.create_engine('mysql+pymysql://phpmyadmin:max@localhost:8889/emploi_store')
    engine.connect()
except sqlalchemy.exc.SQLAlchemyError as err:
    print(err)
    database = get_data(CLIENT_SECRET, CLIENT_ID, SEARCH_KEYWORD, DB_CONFIG)

(pymysql.err.InternalError) (1049, "Unknown database 'emploi_store'") (Background on this error at: http://sqlalche.me/e/2j85)
Connection : OK
DATABASE VERSION : ('5.7.23',)
CREATING DATABASE emploi_store OK
['TABLE : o_salary CREATED']
['TABLE : o_geoloc CREATED']
['TABLE : offer CREATED']
['TABLE : o_skills CREATED']

In [4]:
# récupération des tables dans des df
df_offer = pd.read_sql_table('offer', engine)
df_salary = pd.read_sql_table('o_salary', engine)
df_geoloc = pd.read_sql_table('o_geoloc', engine)
df_skills = pd.read_sql_table('o_skills', engine)

In [5]:
# Récupération des données sur les salaires
query_salaries = """ SELECT AVG(o_salary.slry_min_salary), AVG(o_salary.slry_max_salary), offer.o_department_code
                     FROM o_salary JOIN offer on offer.o_id = o_salary.slry_o_id GROUP BY offer.o_department_code """
df_salaries = pd.read_sql_query(query_salaries, engine)
df_salaries.rename(columns={
    'AVG(o_salary.slry_min_salary)':'minSalary',
    'AVG(o_salary.slry_max_salary)': 'maxSalary'
}, inplace=True)

# Création du barplot sur les données de salaire
trace_1 = go.Bar(
x = df_salaries['o_department_code'],
y = df_salaries.minSalary,
name = "Salaire Moy. Mini"
)
trace_2 =go.Bar(
x = df_salaries['o_department_code'],
y = df_salaries.maxSalary,
name = "Salaire Moy. Maxi"
)
data = [trace_1,trace_2]
py.iplot(data)

In [6]:
# TEST #
querytest = """ SELECT o_salary.slry_min_salary, o_salary.slry_max_salary, offer.o_department_code, offer.o_id
                     FROM o_salary JOIN offer on offer.o_id = o_salary.slry_o_id WHERE offer.o_department_code = 60"""
df_test = pd.read_sql_query(querytest, engine)
df_test

   slry_min_salary  slry_max_salary  o_department_code     o_id
0           2666.0           3083.0                 60  075JFKJ
1           4000.0           4333.0                 60  075PDLX
2           3083.0           4166.0                 60  075PNSD
3           2083.0          26666.0                 60  076KTLB
4              NaN              NaN                 60  076LSRC
5              NaN              NaN                 60  077JNXZ
6           2083.0           2500.0                 60  077RNHR
7           1439.0           1440.0                 60  078CYPQ
8              9.0              9.0                 60  078FQFG

In [7]:
# Récupération des compteurs d'offres par département
query_count_offers = """SELECT COUNT(o_id), o_department_code FROM offer GROUP BY o_department_code HAVING COUNT(offer.o_department_code) > 15"""
df_count = pd.read_sql_query(query_count_offers, engine)
df_count.rename(columns={
    'COUNT(o_id)':'nbrOffer',
    'o_department_code': 'departmentCode'
}, inplace=True)
df_count.dropna(axis=0, how='any', inplace=True) # remove NaN values
# Création du camembert sur la répartition du nombre d'offres par départements qui ont un minimum de 15 offres.
labels = df_count.departmentCode
values = df_count.nbrOffer

trace = go.Pie(labels=labels, values=values)
py.iplot([trace], filename='basic_pie_chart')

In [8]:
# Récupération des données de géolocalisation des offres
query_geoloc = """
                SELECT
                    offer.o_company_name, o_geoloc.g_gps_latitude, o_geoloc.g_gps_longitude
                FROM
                    offer
                JOIN
                    o_geoloc
                ON 
                    o_geoloc.g_o_id = offer.o_id"""
df_geoloc = pd.read_sql_query(query_geoloc, engine)
df_geoloc.dropna(axis=0, how='any', inplace=True) # remove NaN values
df_geoloc.rename(columns={
    'o_company_name':'company',
    'g_gps_latitude': 'latitude',
    'g_gps_longitude': 'longitude'
}, inplace=True)

# Création des séries de longitudes et latitudes pour chaque offre
data_lat = pd.Series(df_geoloc['latitude'])
data_lon = pd.Series(df_geoloc['longitude'])
data_company = pd.Series(df_geoloc['company'])

# Création du df pour la carte de France
df_localize = pd.DataFrame()
df_localize['lon'] = data_lon
df_localize['lat'] = data_lat
df_localize['data'] = data_company

scl = [0,"rgb(150,0,90)"],[0.125,"rgb(0, 0, 200)"],[0.25,"rgb(0, 25, 255)"],\
[0.375,"rgb(0, 152, 255)"],[0.5,"rgb(44, 255, 150)"],[0.625,"rgb(151, 255, 0)"],\
[0.75,"rgb(255, 234, 0)"],[0.875,"rgb(255, 111, 0)"],[1,"rgb(255, 0, 0)"]

data = [ dict(
    lat = df_localize['lat'],
    lon = df_localize['lon'],
    text = df_localize['data'],
    marker = dict(
        color = "red",
        colorscale = scl,
        reversescale = True,
        opacity = 0.7,
        size = 4,
        colorbar = dict(
            thickness = 10,
            outlinecolor = "rgba(68, 68, 68, 0)",
            ticks = "outside",
            ticklen = 3,
            showticksuffix = "last",
            ticksuffix = " inches",
            dtick = 0.1
        ),
    ),
    type = 'scattermapbox'
) ]

layout = dict(
    autosize=True,
    hovermode='closest',
    mapbox=dict(
        bearing=0,
        center=dict(
            lat=47,
            lon=2
        ),
        pitch=0,
        zoom=4.2
    ),
    geo = dict(
        scope = 'europe',
        showland = True,
        landcolor = "rgb(212, 212, 212)",
        subunitcolor = "rgb(255, 255, 255)",
        countrycolor = "rgb(250, 255, 255)",
        showlakes = True,
        lakecolor = "rgb(255, 255, 255)",
        showsubunits = True,
        showcountries = True,
        showocean = True,
        resolution = 50,
        projection = dict(
            type = 'conic conformal',
            rotation = dict(
                lon = -100
            )
        ),
        lonaxis = dict(
            showgrid = True,
            gridwidth = 0.5,
            range= [ 0.0, 10.0 ],
            dtick = 5
        ),
        lataxis = dict (
            showgrid = True,
            gridwidth = 0.5,
            range= [ 41, 51.0 ],
            dtick = 5
        )
    ),
    title = "Distribution des offres d'emploi en France",
)
fig = { 'data':data, 'layout':layout }
#fig = { 'layout':layout }
py.iplot(fig, filename='Eclatement des offres')

In [ ]:
#Création d une variable pour définir un point de recherche
point_initial = (48.8225798, 2.3526237999999466)

In [123]:

query_set_offer = """ SET @g1 = Point(48.8225798, 2.3526237999999466) """
query_set_initial = """ SET @g2 = Point(45.836945, 4.771944)"""
query_dist = """ SELECT ST_Distance(@g1, @g2) """
engine.execute(query_set_offer)
engine.execute(query_set_initial)
df = pd.read_sql_query(query_dist, engine)
df

   ST_Distance(@g1, @g2)
0               3.842802